[Unit]
Description=Serveur Jeu Emulateur
After=network.target

[Service]
Type=simple
# Remplace fanta par ton nom d'utilisateur sur le serveur Debian
User=fanta
# Remplace les chemins ci-dessous par l'emplacement exact de ton dossier MonServeurEmu sur le serveur
WorkingDirectory=/home/fanta/MonServeurEmu
ExecStart=/usr/bin/python3 /home/fanta/MonServeurEmu/serveur_jeu.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
